@model WebApplication4.Models.BookingPatient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingPatient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.DoctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.DoctorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
